Node-Red.txt
[{"id":"69b42c2.c2791d4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b67d3d26.388c7","type":"inject","z":"69b42c2.c2791d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":168,"wires":[["f2c5f982.6bdb28"]]},{"id":"85978de1.392bc","type":"debug","z":"69b42c2.c2791d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":821,"y":148,"wires":[]},{"id":"f2c5f982.6bdb28","type":"http request","z":"69b42c2.c2791d4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":441,"y":168,"wires":[["644b3c26.ce9c64","85978de1.392bc"]]},{"id":"644b3c26.ce9c64","type":"function","z":"69b42c2.c2791d4","name":"Prediction Input","func":"var token=msg.payload.token;\nvar credit_policy=global.get(\"credit_policy\");\nvar purpose=global.get(\"purpose\");\nvar int_rate=global.get(\"int_rate\");\nvar installment=global.get(\"installment\");\nvar log_annual_inc=global.get(\"log_annual_inc\");\nvar dti=global.get(\"dti\");\nvar fico=global.get(\"fico\");\nvar days_with_cr_line=global.get(\"days_with_cr_line\");\nvar revol_bal=global.get(\"revol_bal\");\nvar revol_util=global.get(\"revol_util\");\nvar inq_last_6mths=global.get(\"inq_last_6mths\");\nvar delinq_2yrs=global.get(\"delinq_2yrs\");\nvar pub_rec=global.get(\"pub_rec\");\nmsg.payload={\"fields\":\n[\"credit_policy\",\"purpose\",\"int_rate\",\"installment\",\"log_annual_inc\",\"dti\",\"fico\",\"days_with_cr_line\",\"revol_bal\",\"revol_util\",\"inq_last_6mths\",\"delinq_2yrs\",\"pub_rec\"],\n\"values\":[[credit_policy,purpose,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\n\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":328,"wires":[["cff2f4b3.290198","85978de1.392bc"]]},{"id":"cff2f4b3.290198","type":"http request","z":"69b42c2.c2791d4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d0b92526-5126-4adc-b6b4-571aad3376b2/deployments/6073b31a-d0a7-4f61-9b55-c4d51ade537b/online","tls":"","proxy":"","x":557,"y":252,"wires":[["eeaad48a.37e908","85978de1.392bc"]]},{"id":"eeaad48a.37e908","type":"function","z":"69b42c2.c2791d4","name":"Json Parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":781,"y":448,"wires":[["85978de1.392bc","4bc5522a.a0da0c"]]},{"id":"f53725d.07326d8","type":"ui_dropdown","z":"69b42c2.c2791d4","name":"","label":"purpose","tooltip":"","place":"Select state","group":"5ff15f15.29bcf","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"debt_consolidation","value":"debt_consolidation","type":"str"},{"label":"credit_card","value":"credit_card","type":"str"},{"label":"all_other","value":"all_other","type":"str"},{"label":"home_improvement","value":"home_improvement","type":"str"},{"label":"small_business","value":"small_business","type":"str"},{"label":"major_purchase","value":"major_purchase","type":"str"},{"label":"educational","value":"educational","type":"str"}],"payload":"","topic":"","x":131,"y":408,"wires":[["53c6b659.b23e78"]]},{"id":"7016f924.6e4718","type":"ui_form","z":"69b42c2.c2791d4","name":"Loan Risk Prediction","label":"","group":"5ff15f15.29bcf","order":2,"width":0,"height":0,"options":[{"label":"credit_policy","value":"credit_policy","type":"number","required":true},{"label":"int_rate","value":"int_rate","type":"number","required":true},{"label":"installment","value":"installment","type":"number","required":true},{"label":"log_annual_inc","value":"log_annual_inc","type":"number","required":true},{"label":"dti","value":"dti","type":"number","required":true},{"label":"fico","value":"fico","type":"number","required":true},{"label":"days_with_cr_line","value":"days_with_cr_line","type":"number","required":true},{"label":"revol_bal","value":"revol_bal","type":"number","required":true},{"label":"revol_util","value":"revol_util","type":"number","required":true},{"label":"inq_last_6mths","value":"inq_last_6mths","type":"number","required":true},{"label":"delinq_2yrs","value":"delinq_2yrs","type":"number","required":true},{"label":"pub_rec","value":"pub_rec","type":"number","required":true}],"formValue":{"credit_policy":"","int_rate":"","installment":"","log_annual_inc":"","dti":"","fico":"","days_with_cr_line":"","revol_bal":"","revol_util":"","inq_last_6mths":"","delinq_2yrs":"","pub_rec":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":151,"y":328,"wires":[["cf5845f.3ec02b8"]]},{"id":"53c6b659.b23e78","type":"function","z":"69b42c2.c2791d4","name":"State Selection","func":"if(msg.payload==\"debt_consolidation\"){\n global.set(\"purpose\",2);\n \n}\nelse if(msg.payload==\"credit_card\"){\n global.set(\"purpose\",1);\n \n}\nelse if(msg.payload==\"all_other\"){\n global.set(\"purpose\",0);\n \n}else if(msg.payload==\"home_improvement\"){\n global.set(\"purpose\",4);\n \n}else if(msg.payload==\"small_business\"){\n global.set(\"purpose\",6);\n \n}else if(msg.payload==\"major_purchase\"){\n global.set(\"purpose\",5);\n \n}else if(msg.payload==\"educational\"){\n global.set(\"purpose\",3);\n \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":428,"wires":[["8887b59f.e5f908"]]},{"id":"cf5845f.3ec02b8","type":"function","z":"69b42c2.c2791d4","name":"Input","func":"global.set(\"credit_policy\",msg.payload.credit_policy);\nglobal.set(\"int_rate\",msg.payload.int_rate);\nglobal.set(\"installment\",msg.payload.installment);\nglobal.set(\"log_annual_inc\",msg.payload.log_annual_inc);\nglobal.set(\"dti\",msg.payload.dti);\nglobal.set(\"fico\",msg.payload.fico);\nglobal.set(\"days_with_cr_line\",msg.payload.days_with_cr_line);\nglobal.set(\"revol_bal\",msg.payload.revol_bal);\nglobal.set(\"revol_util\",msg.payload.revol_util);\nglobal.set(\"inq_last_6mths\",msg.payload.inq_last_6mths);\nglobal.set(\"delinq_2yrs\",msg.payload.delinq_2yrs);\nglobal.set(\"pub_rec\",msg.payload.pub_rec);\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":248,"wires":[["f2c5f982.6bdb28"]]},{"id":"4bc5522a.a0da0c","type":"ui_text","z":"69b42c2.c2791d4","group":"5ff15f15.29bcf","order":5,"width":0,"height":0,"name":"","label":"Default","format":"{{msg.payload}}","layout":"row-spread","x":891,"y":528,"wires":[]},{"id":"8887b59f.e5f908","type":"debug","z":"69b42c2.c2791d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":541,"y":468,"wires":[]},{"id":"5ff15f15.29bcf","type":"ui_group","z":"","name":"ML Model","tab":"e24123f8.c2bdc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e24123f8.c2bdc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]